.tool-skill{
    padding: 30px 15px;
    @include breakpoint-up(medium){
        padding: 40px 40px;
    }
    @include breakpoint-up(large){
        padding: 60px 80px;
    }
    @include breakpoint-up(xlarge){
        padding: 60px 140px;
    }

    .ts-content{
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: space-between;
        margin-bottom: 40px;
        @include breakpoint-up(large){
            flex-direction: row;
            margin-bottom: 60px;
        }

        .leftcol{
            width: 100%;
            @include breakpoint-up(large){
                width: auto;
                min-width: 410px;
                max-width: 50%;
            }
        }

        .rightcol{
            padding-top: 16px;
            margin-bottom: 20px;
            max-width: 544px;
            @include breakpoint-up(large){
                padding-top: 0px;
            }
            .badge-wraper{
                display: flex;
                flex-direction: row;
                align-items: stretch;
                justify-content: center;
                flex-wrap: wrap;
                margin-top: 32px;
                margin-bottom: 8px;
                @include breakpoint-up(medium){
                    justify-content: start;
                }
                @include breakpoint-up(large){
                    margin-top: 0;
                }
                img{
                    margin-right: 8px;
                    margin-bottom: 8px;
                    width: 23%;
                    @include breakpoint-up(medium){
                        width: auto;
                    }
                    @include breakpoint-up(large){
                        margin-right: 16px;
                        margin-bottom: 16px;
                        width: auto;
                    }
                }
            }
        }

    }
}