// color
$color-black: #171717;
$color-white: #F8F8FD;
$color-acent: #C9E4FD;
$color-grey: #c4c4c4;
$color-gradien: linear-gradient(135deg, #79B4FC 0%, #75D1F1 100%);
$color-gradientext: linear-gradient(135deg, #79B4FC 0%, #75D1F1 100%);

$color-gradiencom-one: #79B4FC;
$color-gradiencom-two: #75D1F1;

// font-size
$font-regular: 18px;
$font-bigregular: 36px;
$font-big: 48px;
$font-xbig: 56px;

$font-mobile: 16px;
$font-bigregmobile: 20px;
$font-bigmobile: 28px;
$font-xbigmobile: 38px;

// drop-shadow
$dropshadow: 0px 3.736px 28.02px rgba(0, 0, 0, 0.15);
$upshadow: 16px 0px 16px rgba(0, 0, 0, 0.40);
